@import url('https://fonts.googleapis.com/css?family=Poppins');


.my_header {
  display: flex;
  font-family: 'Poppins', 'sans-serif';
  min-height: 8vh;
  background-color: #433a62;
  box-shadow: 1px 1px 5px 3px;
}

.left-section {
  display: flex;
  min-width: 180px;
  align-items: center;

}

.left-section h1 {
  margin-left: 30px;
  color: ghostwhite;
  letter-spacing: 6px;
  font-size: 25px;
  cursor: pointer;
}

.middle-section {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-evenly;
}

.right-section {
  display: flex;
  min-width: 300px;
  align-items: center;
  justify-content: space-around;
}

.my_header a {
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 18px;
  color: ghostwhite;
  font-weight: bold;
  transition-duration: 0.3s;
}

.my_header a:hover {
  color: darkseagreen;
}

.item-count {
  padding: 10px 19px;
  border-radius: 100px;
  box-shadow: 0 0 2px 1px black;
  background-color: #c3c0df;
  color: black;
}









