.privacy-info {
  color: whitesmoke;
  margin-top: 30px;
  font-family: 'Poppins', 'sans-serif';
  font-size: 12px;
}

.info-invalid {
  color: whitesmoke;
  margin-top: 30px;
  font-family: 'Poppins', 'sans-serif';
  font-size: 14px;
}




