.container {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-image: url("src/assets/background2.jpg");
  background-size: cover;
  border-style: solid;
  align-items: center;

}

.left-text {

  margin-bottom: 200px;
  margin-left: 150px;
  font-size: 70px;
  width: 20%;
  text-decoration: none;
  color: darkseagreen;
  letter-spacing: 2px;
  font-family: 'Poppins', 'sans-serif';
  font-weight: bold;
  transition-duration: 0.2s;
}

.left-text:hover {
  opacity: 0.6;
}








