.container {
  height: 900px;
  width: 100%;
  display: flex;
  background-image: url("src/assets/background2.jpg");
  background-size: cover;

}

.left-text {
  margin: auto 160px 400px;
  font-size: 70px;
  width: 10%;
  text-decoration: none;
  color: darkseagreen;
  letter-spacing: 2px;
  font-family: 'Poppins', 'sans-serif';
  font-weight: bold;
  transition-duration: 0.2s;
}

.left-text:hover {
  opacity: 0.6;
}







