.page {
  display: flex;
  background-color: rgba(72, 42, 109, 0.64);
  min-height: 100vh;
}

.product-container {
  margin-left: 300px;
  margin-bottom: 3vh;
  flex: 7;
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 11px;
  height: 100%;
  padding: 10px;
  box-shadow: 10px 0 6px 2px;
}

app-product-item {
  flex-basis: 200px;
  flex-grow: 1;
}


