<div class="page">
  <app-toolbar (onPageNext)="onPageNext($event)"
               (onPagePrevious)="onPagePrevious($event)"
               (onSearchEvent)="searchByKeyword($event)"
               (onSortChangeEvent)="changeSortingMethod($event)"
               [actualPageObservable]="actualPage$.asObservable()"
               [totalPagesObservable]="totalPages$.asObservable()"></app-toolbar>
  <div *ngIf="products.length > 0" class="product-container">
    <app-product-item *ngFor="let product of products" [product]="product"></app-product-item>
  </div>

  <div *ngIf="products.length == 0" class="no-products-available">
    <h1>No results :(</h1>
  </div>
</div>






