.page {
  display: flex;
  background-color: rgba(72, 42, 109, 0.64);
  min-height: 90vh;
}

.product-container {
  margin-left: 300px;
  margin-bottom: 3vh;
  flex: 7;
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 11px;
  height: 100%;
  padding: 10px;
  box-shadow: 10px 0 6px 2px;
}

.no-products-available {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-left: 300px;
  margin-top: -100px;
}

.no-products-available h1 {
  font-size: 50px;
  font-family: 'Poppins', 'sans-serif';
  letter-spacing: 3px;
  color: #e5e5fa;
  padding: 50px;
  border-radius: 10px;
}

app-product-item {
  flex-basis: 300px;
  flex-grow: 1;
}


