<div class="container">
  <div *ngIf="products.length === 0" class="empty-cart-container">
    <h1>Your cart is empty</h1>
    <a routerLink="/products">Add something to cart</a>
  </div>

  <div *ngIf="products.length > 0" class="cart-with-items">
    <table class="product-list">
      <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Unit price</th>
        <th>Quantity</th>
        <th>Total price</th>
        <th>Action</th>
      </tr>

      <tr *ngFor="let product of products, let i = index">
        <td>{{i + 1}}</td>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.quantityInCart}}</td>
        <td>{{product.price.toFixed(2)}} $</td>
        <td class="last-td">
          <button (click)="deleteFromCart(product)" class="delete-button"></button>
        </td>
      </tr>

      <tr>
        <td colspan="4">
          <button (click)="checkout()" class="checkout">Checkout</button>
        </td>
        <td class="total-price">{{totalPrice.toFixed(2)}} $</td>
        <td class="last-td">
          <button (click)="emptyCart()" class="delete-button"></button>
        </td>
      </tr>
    </table>

  </div>


</div>

