@import "../node_modules/alertifyjs/build/css/alertify.css";
@import "../node_modules/alertifyjs/build/css/themes/default.min.css";

* {
  font-family: 'Poppins', 'sans-serif';
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.submit-valid, .submit-invalid, .submit {
  margin-top: 8px;
  background-color: #158b15;
  width: 100%;
  color: whitesmoke;
  border-style: none;
  border-radius: 20px;
  border-color: gray;
  box-shadow: 1px 1px 4px 2px black;
  padding: 15px;
  font-size: 30px;
  font-family: 'Poppins', 'sans-serif';
  letter-spacing: 1px;
  cursor: pointer;
  transition-duration: 0.25s;
}

.submit-invalid {
  background-color: gray;
  cursor: not-allowed;
}

.submit-valid:hover, .submit:hover {
  box-shadow: 1px 1px 9px 3px black;
}

.submit-valid:active, .submit:active {
  opacity: 0.7;
}

.submit {
  background-color: darkslateblue;
}


form {
  padding: 10px 20px;
  border-radius: 20px;
  border-style: none;
  border-width: 1px;
  background-color: #433a62;
  box-shadow: 1px 1px 10px 5px #433a62;
  transition-duration: 0.15s;
  border-color: black;
}

form:hover {
  box-shadow: 1px 1px 10px 6px #433a62;
}

form input[type=text], input[type=password] {
  display: flex;
  font-size: 23px;
  padding: 10px;
  margin-top: 15px;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  box-shadow: 0 0 3px 1px black;
  font-family: 'Poppins', 'sans-serif';
  width: 100%;
}

input[type=text]:focus, input[type=password]:focus {
  opacity: 0.8;
  outline: none;
}

.greet-text {
  color: whitesmoke;
  font-family: 'Poppins', 'sans-serif';
  font-size: 18px;
}

.validation-message {
  color: red;
  font-size: 15px;
  font-family: 'Poppins', 'sans-serif';
}

.form {
  margin-bottom: 30px;
  margin-right: 300px;
  flex: 1;
  padding: 30px;
  border-radius: 30px;
  border-style: none;
  border-width: 1px;
  background-color: #433a62;
  box-shadow: 0 0 5px 3px;
  transition-duration: 0.15s;
  border-color: black;
}


body {
  padding-top: 8vh;
  min-height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
}

