<div class="form">
  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
    <p class="greet-text">Have an account? Just log in!</p>
    <input formControlName="email" placeholder="Your e-mail" required type="text">
    <span *ngIf="email && email.touched && email.invalid" class="validation-message">Enter a valid email</span>
    <input formControlName="password" placeholder="Password" required type="password">
    <span *ngIf="password && password.touched && password.invalid"
          class="validation-message">Password is required</span>
    <input class="submit" type="submit" value="Log in">
  </form>
</div>

