.item {
  background-color: snow;
  box-shadow: 0 0 8px 3px;
  border-radius: 3px;
  height: 400px;
  display: grid;
  grid-template-columns: 1.7fr 1fr;
}


img {
  max-height: 400px;
  max-width: 100%;
}

.details-div {
  height: 99%;
  background-color: lightgray;
  border-radius: 2px;
  display: inline-block;

}

.product-name, .product-description, .product-amount, .product-price, .add-to-cart-button {
  font-family: 'Poppins', 'sans-serif';
  text-align: right;
  padding-right: 15px;
}

.add-to-cart-button {
  border-radius: 5px;
  font-size: 25px;
  padding: 10px;
  background-color: whitesmoke;
  color: darkslateblue;
  border-color: darkslateblue;
}

.add-to-cart-button:hover {
  background-color: darkslateblue;
  border-style: none;
  color: whitesmoke;
  cursor: pointer;
}


