<div class="toolbar-container">
  <p class="search-label">Dynamic search</p>
  <div class="search-div">
    <input [formControl]="searchControl" class="search-window" placeholder="Type keyword e.g spring" type="text">
  </div>
  <div class="sort-container">
    <fieldset>
      <legend>Sort by</legend>
      <ul class="sort-option-list">
        <label class="sort-option-item">Date desc <input [formControl]="sortControl" name="sort" type="radio"
                                                         value="datedesc">
        </label>
        <label class="sort-option-item">Date asc <input [formControl]="sortControl" name="sort" type="radio"
                                                        value="dateasc">
        </label>
        <label class="sort-option-item first">Name desc <input [formControl]="sortControl" name="sort" type="radio"
                                                               value="namedesc">
        </label>
        <label class="sort-option-item">Name asc <input [formControl]="sortControl" name="sort" type="radio"
                                                        value="nameasc">
        </label>
        <label class="sort-option-item first">Price desc <input [formControl]="sortControl" name="sort" type="radio"
                                                                value="pricedesc">
        </label>
        <label class="sort-option-item">Price asc <input [formControl]="sortControl" name="sort" type="radio"
                                                         value="priceasc">
        </label>
      </ul>
    </fieldset>
  </div>
  <div class="page-navigation">
    <div (click)="previousPage()" *ngIf="actualPage > 0" class="previous">Previous</div>
    <div *ngIf="actualPage === 0" class="previous-disabled">Previous</div>

    <div class="actual">{{actualPage + 1}}</div>

    <div (click)="nextPage()" *ngIf="actualPage < totalPages - 1" class="next">Next</div>
    <div *ngIf="actualPage === totalPages - 1 || totalPages === 0" class="next-disabled">Next</div>
  </div>

</div>
