<div class="toolbar-container">
  <p class="search-label">Dynamic search</p>
  <div class="search-div">
    <input [formControl]="searchControl" class="search-window" placeholder="Type keyword e.g spring" type="text">
  </div>
  <div class="sort-container">
    <fieldset>
      <legend>Sort by</legend>
      <ul class="sort-option-list">
        <label class="sort-option-item">Date desc <input [formControl]="sortControl" name="sort" type="radio"
                                                         value="datedesc">
        </label>
        <label class="sort-option-item">Date asc <input [formControl]="sortControl" name="sort" type="radio"
                                                        value="dateasc">
        </label>
        <label class="sort-option-item first">Name desc <input [formControl]="sortControl" name="sort" type="radio"
                                                               value="namedesc">
        </label>
        <label class="sort-option-item">Name asc <input [formControl]="sortControl" name="sort" type="radio"
                                                        value="nameasc">
        </label>
        <label class="sort-option-item first">Price desc <input [formControl]="sortControl" name="sort" type="radio"
                                                                value="pricedesc">
        </label>
        <label class="sort-option-item">Price asc <input [formControl]="sortControl" name="sort" type="radio"
                                                         value="priceasc">
        </label>
      </ul>
    </fieldset>
  </div>

</div>
