.toolbar-container {
  background-color: #e5e5fa;
  box-shadow: 1px 1px 6px 2px;
  padding: 15px;
  height: 100%;
  width: 300px;
  position: fixed;

}

.search-label {
  padding-top: 15px;
  margin-bottom: 5px;
  font-family: 'Poppins', 'sans-serif';
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}

.search-window {
  font-family: 'Poppins', 'sans-serif';
  font-size: 20px;
  width: 100%;
  padding: 5px;
  border-style: none;
}

.search-div {
  display: flex;
  border-radius: 2px;
  justify-content: space-between;
  box-shadow: 0 0 3px 1px;
}


legend {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

fieldset {
  width: 90%;
  padding-bottom: 20px;
  padding-top: 10px;
}

.sort-container {
  margin-top: 50px;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.sort-container p {
  font-family: Poppins, sans-serif;
  font-size: 25px;
  text-align: center;
  margin-bottom: 5px;
}

.sort-option-list {
  text-align: right;
  padding-right: 66px;
}

.sort-option-item {
  font-size: 18px;
  list-style-type: none;
  display: inline-block;
  margin-bottom: 5px;
}

.first {
  margin-top: 20px;
}

.page-navigation {
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.previous, .next, .previous-disabled, .next-disabled {
  padding: 10px;
  background-color: #c3c0df;
  flex: 1;
  text-align: center;
  box-shadow: 0 0 2px 1px;
  z-index: 2;
  border-radius: 3px;
}

.actual {
  padding: 10px;
  width: 50px;
  text-align: center;
  background-color: #d4d2d7;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  font-weight: bold;
}

.previous:hover, .next:hover {
  cursor: pointer;
  opacity: 0.8;
}

.previous-disabled, .next-disabled {
  opacity: 0.5;
}


